* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  position: relative;
  background: #f0f0f0;
  font-family: 'roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
}

.header {
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #3e3c3c;
  height: 50px;
  padding: 0 30px 0 30px;
}

.logo h4 {
  font-family: 'inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.toggle-btn {
  width: 20px;
  height: 14px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-content: center;
  justify-content: space-around;
}

.toggle-btn span {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.nav-links {
  display: none;
}

.nav-links p {
  display: inline-block;
  visibility: hidden;
  margin-left: 20px;
  color: #fff;
  font-family: 'inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

/*  ----headline----  */

.dark-bg {
  position: relative;
  background: #1c1a19;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 50px 18px 0 0;
  justify-content: space-between;
}

.content-1 {
  max-height: 396px;
}

.dark-bg h1 {
  font-family: 'crete round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.dark-bg h2 {
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.dark-bg p {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  width: 289px;
}

.dark-bg ul {
  align-self: flex-start;
}

.dark-bg ul li {
  display: inline-block;
}

.dark-bg .squares {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*  ---- Recent work ---- */

.recent-work {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

.title {
  width: 85%;
  padding-top: 130px;
  margin-bottom: 100px;
  text-align: center;
}

.title h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 50px;
}

.title hr {
  width: 100%;
}

.projects {
  justify-items: center;
  background: #fff;
}

.project {
  width: 85%;
  height: 386px;
  position: relative;
  margin-bottom: 30px;
}

.project a {
  color: #fff;
  height: 48px;
  text-decoration: none;
  background: #ff6b00;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.project-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 568px;
  color: #091e42;
}

.project-1 .project-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.project-1 img {
  width: 100%;
}

.project-1 ul {
  padding-bottom: 50px;
}

.project-1 ul li {
  background: #fff;
  border: 1px solid #8993a4;
  padding: 10px 12px;
}

.project-2 ul li {
  background: rgba(255, 255, 255, 0.24);
  padding: 10px 12px;
}

.project-1 .project-skills li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.project ul {
  display: flex;
  width: 100%;
  gap: 12px;
}

.project-2 {
  color: #fff;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(Media/background-project.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 20px 90px 20px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 15px;
}

.project-2 .project-title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

/* ---- about me ---- */

.about-me {
  gap: 160px;
}

.about-me .about-me-img {
  position: absolute;
  right: 0;
  top: 160px;
}

.get-my-resume {
  display: flex;
  text-align: center;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  text-decoration: none;
  align-items: center;
}

.get-my-resume p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.content-2 {
  height: 348px;
}

.about-me hr {
  width: 80%;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skills dt {
  text-align: center;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.skills dd {
  text-align: center;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}
