* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  position: relative;
  background: #f0f0f0;
  font-family: 'roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.grid-container {
  display: grid;
}

.header {
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 230px;
  background: #3e3c3c;
  height: 50px;
  padding: 0 30px 0 30px;
}

.logo h4 {
  font-family: 'inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.toggle-btn {
  width: 20px;
  height: 14px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-content: center;
  justify-content: space-around;
}

.toggle-btn span {
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.nav-links {
  display: none;
}

.nav-links p {
  display: inline-block;
  visibility: hidden;
  margin-left: 20px;
  color: #fff;
  font-family: 'inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

/*  ----headline----  */

.dark-bg {
  position: relative;
  background: #1c1a19;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-me .content {
  padding: 50px 18px 0 0;
}

.big-squares {
  display: none;
}

.dark-bg h1 {
  font-family: 'crete round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.dark-bg h2 {
  font-family: 'roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.dark-bg p {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  width: 289px;
}

.icons {
  display: flex;
  gap: 20px;
}

.squares {
  position: absolute;
  right: 0;
  bottom: -50px;
}

/*  ---- Recent work ---- */

.recent-work {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  background: #fff;
  gap: 100px;
}

.title {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding-top: 130px;
  text-align: center;
  gap: 50px;
}

.title h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.title hr {
  width: 100%;
}

.projects {
  justify-items: center;
}

.project {
  width: 85%;
  min-height: 450px;
  position: relative;
  margin-bottom: 30px;
}

.project .see-project {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 48px;
  text-decoration: none;
  background: #ff6b00;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

.project-1 {
  display: flex;
  flex-direction: column;
  color: #091e42;
  gap: 20px;
}

.project-1 .project-title {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.project-skills li {
  border: 1px solid #8993a4;
  padding: 10px 12px;
}

.project-2 ul li {
  background: rgba(255, 255, 255, 0.24);
  padding: 10px 12px;
}

.project-1 .project-skills li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.project ul {
  display: flex;
  width: 100%;
  gap: 12px;
}

.project-2 {
  color: #fff;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(Media/background-project.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.project-2 .project-description {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-2 .project-title {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

/* ---- about me ---- */

.about-me {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 160px;
}

.dark-bg .about-me {
  flex-direction: column;
}

.about-me-img {
  position: absolute;
  right: 0;
  top: 250px;
}

.about-me-big-img {
  display: none;
}

.get-my-resume {
  display: flex;
  text-align: center;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  text-decoration: none;
  align-items: center;
}

.get-my-resume p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.dark-bg hr {
  width: 100%;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skills dt {
  text-align: center;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.skills dd {
  text-align: center;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

/* ---- contact form ---- */

.contact-form-section {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-height: 100vh;
  align-items: center;
  gap: 50px;
  padding-top: 120px;
}

.contact-form-section h6,
form {
  width: 80%;
}

.contact-form-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-bottom: 100px;
}

.contact-form-section h6 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.contact-form-section label {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

#fs-frm-inputs {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 30px;
  width: 100%;
}

#fs-frm-inputs input,
textarea {
  border-style: none none solid none;
  border-bottom: 1px solid #dbd8d7;
  padding: 0 0 10px 10px;
}

#fs-frm-inputs textarea {
  background: #fbf8f7;
  border: none;
}

.btn-submit {
  background: #ff6b00;
  border: none;
  padding: 12px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.social-media-icons {
  border-top: 1px solid #dbd8d7;
  width: 100%;
  text-align: center;
  padding: 24px;
}

/* ---- Desktop version ---- */

@media (min-width: 768px) {
  .toggle-btn {
    display: none;
  }

  .nav-links {
    display: inline-block;
  }

  .nav-links ul {
    display: flex;
    color: #fff;
    gap: 20px;
  }

  .nav-links ul li {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .dark-bg.headline {
    justify-content: center;
  }

  .headline .content {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    padding: 0 0 0 30px;
    gap: 100px;
  }

  .icons {
    flex-direction: column;
    align-self: center;
  }

  .squares {
    display: none;
  }

  .big-squares {
    display: inline;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    max-height: 100%;
  }

  .introduction h1 {
    font-size: 72px;
    line-height: 82px;
  }

  .introduction h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }

  /* ---- Recent works ---- */

  .recent-work .title {
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
  }

  .title h1 {
    margin-bottom: 0;
    min-width: 315px;
    display: inline;
  }

  .recent-work .title hr {
    flex-grow: 1;
    height: 0;
    border: 1px solid #212121;
  }

  .projects {
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    justify-items: baseline;
    grid-column-gap: 24px;
  }

  .project {
    width: 100%;
  }

  .project-1 {
    flex-direction: row;
    grid-column: 1 / -1;
  }

  .project-1 img {
    width: 100%;
    max-width: 684px;
  }

  .project-1 .project-text p {
    max-width: 311px;
  }

  .project-1 .project-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
  }

  .project-1 .see-project {
    width: 124px;
  }

  .project-2.active .see-project,
  .project-description {
    display: none !important;
  }

  .bg-first-img {
    background: url(Media/IMG-first.svg);
  }
  .bg-second-img {
    background: url(Media/IMG-second.svg);
  }
  .bg-third-img {
    background: url(Media/IMG-third.svg);
  }

  /* ---- About me ---- */

  .about-me {
    margin: 50px 0 100px 0;
  }

  .about-me .content {
    align-self: baseline;
  }

  .about-me-img {
    display: none;
  }

  .about-me-big-img {
    display: block;
    position: absolute;
    right: 0;
    top: 99px;
  }

  .about-me .skills {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .skills dd {
    text-align: left;
  }

  /* ---- Contact ---- */

  .contact-form-section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }

  .contact-form-section h6 {
    width: 45%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #262626;
  }

  .contact-form-section form {
    width: 45%;
  }

  .btn-submit {
    align-self: flex-start;
  }
}
